html {
  font-size: 18px;
  }

body {
  background-color: #F1F1F1;;
  margin: 0;
}

.aboutMe {
  padding: 48px 52px;
  width: 408px;
  margin-left: 464px;
  margin-top: 5px;
  margin-bottom: 44px;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(148, 148, 148, 0.7);
}

h1 {
  font-size: 22px;
  margin-top: 0px;
  text-align: center;
}

p {
  margin: 10px;
}

hr {
  margin: 18px -2px 23px;
}

ul {
  line-height: 26px;
  margin-left: -5px;
  margin-top: 28px;
}

.photo {
  display: block;
  margin-left: 132px;
}
